/*
	black like - #00303B
	i love red - #FF7777
	i dunno the name - #FFCE96
	almost white - #F1F2DA
*/

:root {
	--blackLike: #00303B;
	--suppaRed: #FF7777;
	--bubColor: #FFCE96;
	--whiteLike: #F1F2DA;
}

@font-face {
	font-family: not_safe;
	src: url('../fonts/phantommuff.ttf') format('truetype');
}

body {
	background-color: var(--whiteLike);
	font-family: not_safe;
}

.boxes {
	background-color: var(--bubColor);
	box-shadow: 0px 4px 0px var(--blackLike);
	border-radius: 8px;
}

#title_box {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 30vh;
}

h1 {
	text-align: center;
	font-size: 40px;
	transform: translateY(1vh);
	transition: 0.8s;
	color: var(--blackLike);
}

h1:hover {
	transition: 0.8s;
	transform: translateY(1vh) scale(1.1);
	text-shadow: 0px 0px 10px var(--suppaRed);
}

#fake_h2 {
	font-size: 25px;
	background-color: var(--whiteLike);
	border: solid 3px var(--suppaRed);
	display: block;
	width: 45vw;
	height: 4vw;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;
	border-radius: 10px;
	box-shadow: 0px 4px 0px var(--blackLike);
	transition: 0.5s;
	color: var(--blackLike);
}

#fake_h2:hover {
	transform: translateY(-5px);
	transition: 0.5s;
}

#fake_bar {
	height: 1vh;
	background-color: var(--suppaRed);
	margin: 3vh 1vw;
	border-radius: 5px;
	box-shadow: 0px 4px 0px var(--bubColor);
}

#resume_box {
	width: 70vw;
	height: 40vh;
	margin: auto;
	display:flex;
	align-items: center;
	justify-content: center;
	background-color: var(--suppaRed);
	transition: 0.8s;
}

#resume_box:hover {
	transform: scale(1.05);
	width: 90vw;
	transition: 0.8s;
}

#resume_box p {
	color: var(--whiteLike);
	text-shadow: 0px 2px 0px var(--blackLike);
	width: 50vw;
	font-size: 140%;
	transition: 0.8s;
}

#resume_box p:hover {
	transform: scale(1.1);
	transition: 0.8s;
}

#buttons_section {
	background-color: var(--bubColor);
	height: 70vh;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;
	border: solid 3px var(--suppaRed);
	border-radius: 10px;
}

.button_big_box {
	background-color: var(--blackLike);
	width: 100%;
	height: 25%;
	display: flex;
	align-items: center;
}

.fake_button {
	display: flex;
	width: 30%;
	height: 60%;
	background-color: var(--whiteLike);
	justify-content: center;
	align-items: center;
	border: solid 3px var(--suppaRed);
	border-radius: 10px;
	margin-left: 2%;
	transition: 0.8s;
	font-size: 150%;
	text-decoration: none;
	color: var(--blackLike);
	text-shadow: 0px 2px 0px var(--suppaRed);
}

.fake_button:hover {
	height: 70%;
	width: 80%;
	font-size: 210%;
}

#middleOne {
	background-color: var(--suppaRed);
	justify-content: end;
}

#middleButton {
	margin-left: 0%;
	margin-right: 2%;
	border: solid 3px var(--blackLike);
	background-color: var(--bubColor);
}

.fake_button:active {
	opacity: 80%;
	transition: 0.2s;
	background-color: var(--suppaRed);
	color: var(--whiteLike);
	text-shadow: 0px 0px 10px var(--whiteLike);
	box-shadow: 0px 0px 10px var(--suppaRed);
}

#middleButton:active {
	opacity: 80%;
	transition: 0.2s;
	background-color: var(--blackLike);
	color: var(--whiteLike);
	text-shadow: 0px 0px 10px var(--whiteLike);
	box-shadow: 0px 0px 10px var(--suppaRed);
}